* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #cfdb9b;
}



header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background-color: yellowgreen;
    justify-content: space-between;
}

@media screen and (max-width:600px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

header #name{
    display: flex;
    background-color: yellowgreen;
    width: 400px;
    text-align: center;
    text-indent: 25px;
    align-items: flex-end;
    
}

@media screen and (max-width:600px) {
    header #name {
        justify-content: space-evenly;
    }
}


header img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #cddc39;
    filter: drop-shadow(0 0 8px #000000)
}

header ul {
    display: flex;
    flex-direction: row;
    width: 400px;
    list-style-type: none;
    background-color: yellowgreen;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
}

header ul li {
    background-color: yellowgreen;
    text-indent: 25px;
}

@media screen and (max-width:600px) {
    header ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:600px) {
    header ul li{
        text-indent:0%;
    }
}





.aboutmesection {
    padding-bottom: 20px;
}

.aboutmesection p {
    text-indent: 25px;
}

#aboutmetitle {
    display: flex;
    justify-content: center;
}

#Iconrow {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 68px;
    margin-bottom: 20px;
    padding-left: 0px;
}

@media screen and (max-width:600px) {
    #Iconrow {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 600px

    }
}
@media screen and (max-width:600px) {   
    #Iconrow img{
        max-height: 68px;
        max-width: 68px;
        justify-content:space-evenly;
    }
}
#Iconrow img {
    max-height: 100%;
    max-width: auto;
    justify-content:space-evenly;
}
#icaclogo {
    border-radius: 50%;
}

#workexamplesheader {
    display: flex;
    justify-content: center;
}

#project1 {
    display: flex;
    margin:auto;
    max-width: 95%;
    border: yellowgreen;
    border-style:solid;
    margin-bottom: 50px;
    justify-content: center;
}

.projects2-4grid {
    display: grid;
    width: 95%;
    grid-template-columns: 33% 33% 33%;
    margin:auto;
    column-gap: 15px;
    justify-content: center;

}

#project2 {
    border: yellowgreen;
    border-style:solid;
}
#project3 {
    border: yellowgreen;
    border-style:solid;
}
#project4 {
    border: yellowgreen;
    border-style:solid;
}

.footerinfobanner {
    display: flex;
    justify-content: space-evenly;
    background-color: yellowgreen;
}

footer ul li {
    background-color: yellowgreen;
}
@media screen and (max-width:600px) {
    .footerinfobanner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}