* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    margin-bottom: 50px;
    padding-bottom:50px;
}

.header #name{
    display: block;
    font-size: larger;
    font-weight: 100;
    float:left;
    padding: 20px;
    
}

.header .links {
    float: right;
    margin-bottom: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header .links li {
    float:right;
    padding-left: 16px;
}

.header .links li a {
    display: inline-block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.aboutmesection {
    padding-bottom: 20px;
}


#Iconrow {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 68px;
    margin: 20px;
    margin-bottom: 20px;
}

#Iconrow img {
    max-height: 100%;
    max-width: auto;
    justify-content:space-evenly;
}

.footerinfobanner {
    display: flex;
    justify-content: space-evenly;

}